name: components_compC CI

on: push

env:
  COMP_NAME: comp-c
  SCA_SOURCES: "./datavisualizer"

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: iDevopsDemo/environment_cicd/.github/pre-commit@main

  gitleaks:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE }}

  python-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: iDevopsDemo/environment_cicd/.github/python-lint@main
        with:
          SCA_SOURCES: "${{ env.SCA_SOURCES }}"

  hadolint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile

  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11']
    steps:
      - uses: iDevopsDemo/environment_cicd/.github/python-unit-tests@main
        with:
          PYTHON_VERSION: ${{ matrix.python-version }}
          SCA_SOURCES: "${{ env.SCA_SOURCES }}"

  docker-build:
    runs-on: ubuntu-latest
    needs: hadolint
    permissions:
      packages: write
    outputs:
      build-version: ${{ steps.version.outputs.version }}
    steps:
      - uses: iDevopsDemo/environment_cicd/.github/docker-build@main
        with:
          COMP_NAME: "${{ env.COMP_NAME }}"
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

  helm-test:
    runs-on: ubuntu-latest
    permissions:
      packages: read
    steps:
      - uses: iDevopsDemo/environment_cicd/.github/helm-test@main
        with:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

  call-service:
    needs: [helm-test, docker-build, unit-tests]
    uses: ./.github/workflows/service.yaml
    with:
      fail-test: "false"

  call-integration:
    needs: [call-service]
    uses: ./.github/workflows/integration.yaml
    with:
      fail-test: "false"

  release:
    needs: [call-integration, pre-commit, python-lint, gitleaks]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@v1

  promote:
    needs: [release, docker-build]
    runs-on: ubuntu-latest
    permissions:
      packages: read
    if: github.ref == 'refs/heads/main'
    steps:
        - uses: iDevopsDemo/environment_cicd/.github/promote@main
          with:
            COMP_NAME: "${{ env.COMP_NAME }}"
