name: CI for Component-C

on:
  push:
    branches:
      - main
      - 'bugfix/*'
      - 'feature/*'
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    types: [ opened, synchronize, reopened ]
    branches: [ main ]
  workflow_dispatch:

env:
  COMP_NAME: comp-c
  SCA_SOURCES: "./datavisualizer"

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: iDevopsDemo/environment_cicd/.github/pre-commit@main

  gitleaks:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE }}

  python-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: iDevopsDemo/environment_cicd/.github/python-lint@main
        with:
          SCA_SOURCES: "${{ env.SCA_SOURCES }}"

  hadolint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile

  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11']
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write
    steps:
      - uses: iDevopsDemo/environment_cicd/.github/python-unit-tests@main
        with:
          PYTHON_VERSION: ${{ matrix.python-version }}
          SCA_SOURCES: "${{ env.SCA_SOURCES }}"

  docker-build:
    runs-on: ubuntu-latest
    needs: hadolint
    permissions:
      packages: write
    steps:
      - uses: iDevopsDemo/environment_cicd/.github/docker-build@main
        id: docker-build
        with:
          COMP_NAME: "${{ env.COMP_NAME }}"
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

  helm-test:
    runs-on: ubuntu-latest
    permissions:
      packages: read
    steps:
      - uses: iDevopsDemo/environment_cicd/.github/helm-test@main
        with:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

  helm-build:
    runs-on: ubuntu-latest
    needs: [helm-test, docker-build]
    permissions:
      packages: write
    outputs:
      chart-name: ${{ steps.helm-build.outputs.chart-name }}
    steps:
      - uses: iDevopsDemo/environment_cicd/.github/helm-build@main
        id: helm-build
        with:
          CHART_DIR: "./charts/comp-c"
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

  call-service:
    needs: [helm-build, docker-build, unit-tests]
    uses: ./.github/workflows/service.yaml
    with:
      fail-test: "false"

  call-integration:
    needs: [call-service]
    uses: ./.github/workflows/integration.yaml
    with:
      fail-test: "false"

  promote:
    needs: [call-integration, helm-build]
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
        - uses: iDevopsDemo/environment_cicd/.github/promote-new@main
          with:
            CHART_NAME: "${{ needs.helm-build.outputs.chart-name }}"
            GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
